<ion-view view-title="Butterfly Effects">
  <ion-content class="padding">
  	<div class="row" style="color:#FFFFFF;">
  		<div class="col"><img src="img/Butterflies/butterfly1.png" style="width:140px; height:100px;"></div>
		<div class="col"><img src="img/Butterflies/butterfly2.png" style="width:140px; height:100px;"></div>
	</div>
	<br><br>
	<div class="row" style="color:#FFFFFF;">
  		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
		<div class="col">.col</div>
	</div>
  </ion-content>
</ion-view>
