<ion-view view-title="Until Dawn">
  <ion-content class="padding">
    <h2>The Until Dawn Strategy Guide</h2>
    <p>
    Welcome! Included in this app is a complete strategy guide to help you accomplish anything you want in Until Dawn.
    </p>
    <p>This app contains heavy spoilers to every part of the game.</p>
    <h2>The Story</h2>
    <p>On February 2, 2014, friends Mike, Sam, Chris, Ashley, Jess, Matt and Emily celebrate their winter getaway at the Blackwood Pines lodge, owned by mutual friends Josh Washington and his twin sisters, Hannah and Beth, located near Blackwood Mountain in Alberta. Mike, Ashley, Emily, Jess, and Matt trick Hannah into opening her shirt for Mike while they hide. They then come out of hiding, embarrassing Hannah and causing her to flee into the forest. As Beth follows, they are hunted by an unknown pursuer that corners them to a cliff, where they both fall to their deaths and aren't recovered. One year later, the group are invited again by Josh to the lodge for reconciliation and to put the past behind.
    </p>
    
  </ion-content>
</ion-view>
