<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Story Tab -->
  <ion-tab title="Story" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/story">
    <ion-nav-view name="tab-story"></ion-nav-view>
  </ion-tab>

  <!-- Characters Tab -->
  <ion-tab title="Characters" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/characters">
    <ion-nav-view name="tab-characters"></ion-nav-view>
  </ion-tab>

  <!-- Scenarios Tab-->
  <ion-tab title="Scenarios" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/scenarios">
    <ion-nav-view name="tab-scenarios"></ion-nav-view>
  </ion-tab>

  <!-- Clues Tab -->
    <ion-tab title="Clues" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/clues">
      <ion-nav-view name="tab-clues"></ion-nav-view>
    </ion-tab>

    <!-- Butterfly Effects Tab -->
    <ion-tab title="Butterfly Effects" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/butterfly">
      <ion-nav-view name="tab-butterfly"></ion-nav-view>
    </ion-tab>

</ion-tabs>
