/* Empty. Add your own CSS if you like */
.item {
	background-color: #000000;
	/*color: #ffffff;*/
}

h1 {
	color: #ffffff;
}

h2 {
	/*color: #ffffff;*/
}

h3 {
	color: #ffffff;
}

p {
	color: #ffffff;
}

ul li {
	color: #ffffff;
}

.pane {
	background-color: #000000;
}

ion-list {
	background-color: #000000;
	/*color: #ffffff;*/
}

.list {
	background-color: #000000;
	/*color: #ffffff;*/
}

ion-item {
	background-color: #000000;
	/*color: #ffffff;*/
}

ion-view {
	background-color: #000000;
}

ion-content {
	background-image: url("../img/background.png");
}